body {
  --mdc-theme-primary: #152968;
  --mdc-theme-on-primary: #FFF;
  --mdc-theme-secondary: #25A534;
  --mdc-theme-on-secondary: #FFF;
}
mwc-icon {
  vertical-align: -2px;
  --mdc-icon-size: 1em;
}
.primary {
  --mdc-theme-primary: #152968;
  --mdc-theme-on-primary: #FFF;
}
.secondary {
  --mdc-theme-primary: #25A534;
  --mdc-theme-on-primary: #FFF;
}
.danger {
  --mdc-theme-primary: #EE6524;
  --mdc-theme-on-primary: #FFF;
}
.warn {
  --mdc-theme-primary: #ffdd00;
  --mdc-theme-on-primary: #000;
}
.info {
  --mdc-theme-primary: #009ED7;
  --mdc-theme-on-primary: #FFF;
}
.ok {
  --mdc-theme-primary: #74B842;
  --mdc-theme-on-primary: #FFF;
}
.note {
  --mdc-theme-primary: #3c4666;
  --mdc-theme-on-primary: #FFF;
}
