@import "~bootstrap-utilities";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.pointer {
  cursor: pointer;
}

.text-muted {
  opacity: 0.5;
  color: inherit !important;
}

.name-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "name name"
    "dateOfBirth dateOfBirth"
    "address address";
}

[data-area="name"] {
  grid-area: name;
}

[data-area="dateOfBirth"] {
  grid-area: dateOfBirth;
}

[data-area="address"] {
  grid-area: address;
}

.pending-tests  {
  animation: pending 1.5s linear infinite;
  font-size: 15pt;
  text-shadow: 1px 1px 1px #000;
  color: aliceblue;
}

@keyframes pending {
  50% {
    opacity: 0.5;
    color: white;
  }
}

.flash  {
  animation: flash 3s linear infinite;
}

@keyframes flash {
  50% {
    opacity: 0.5;
    color: darkred;
  }
}